.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
  transition: 0.5s;
}

a:hover {
  background-color: lightgray;
  transition: 0.5s;
}

.input {
  align-items: baseline;
  display: flex;
  margin: 8px;
  padding: 8px;
}
